In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("company_info.csv", encoding='utf-8', encoding_errors='replace')

In [15]:
df.head()

,Company Name,Rating,No_of_Reviews,No_of_Followers,Tags,Type,Year Founded,Company Size,HQ Location,Website,Company Type
0,Volga Infotech,4.0,(13 reviews),0,"IT Services & Consulting, BPO / Call Centre, P...",Private,2008 (16 yrs old),Nov-50,NaN,http://www.volgainfotech.com,Corporate
1,VMR Vision,NaN,NaN,0,"IT Services & Consulting, Private, Corporate, B2B",Private,2010 (14 yrs old),02-Oct,NaN,http://www.vmrvision.com/,Corporate
2,Vasan Eye Care,4.0,(256 reviews),384 followers,"Medical Services / Hospital, Private, Corporat...",Private,2002 (22 yrs old),5001-10000,NaN,NaN,Corporate
3,Hungama,NaN,NaN,1.5K followers,"Film / Music / Entertainment, Media & Entertai...",NaN,1999 (25 yrs old),501-1000,NaN,NaN,Corporate
4,Mirza International,3.9,(242 reviews),0,"Textile & Apparel, Retail, Public, Corporate, B2C",Public,1979 (45 yrs old),5001-10000,NaN,http://www.mirza.co.in,Corporate

In [20]:
import numpy as np

# Function to clean and categorize company size
def categorize_company_size(size):
    # Check for NaN values
    if pd.isna(size):
        return np.nan 
    size = str(size)
    if 'Nov' in size or 'Oct' in size:
        return 'Small' 
    if '+' in size:
        lower = int(size.replace('+', ''))
        delta = lower + 1 
    else:
        try:
            lower, upper = map(int, size.split('-'))
            delta = upper - lower
        except ValueError:
            return np.nan  
    
    if delta <= 200:
        return 'Small'
    elif delta <= 5000:
        return 'Medium'
    else:
        return 'Large'

df['company size category'] = df['Company Size'].apply(categorize_company_size)

In [22]:
df['company size category'].value_counts()

company size category
Medium    3018
Small     1832
Large      638
Name: count, dtype: int64

In [23]:
df['company size category']

0        Small
1        Small
2       Medium
3       Medium
4       Medium
         ...
5849     Small
5850     Small
5851     Small
5852     Small
5853     Small
Name: company size category, Length: 5854, dtype: object

In [24]:
df.to_csv('cleaned_company_info.csv', index=False)

## MAKING NEW COLUMNS ##

In [26]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("company_info.csv", encoding='utf-8', encoding_errors='replace')

In [28]:
def categorize_company_size(size):
    # Check for NaN values
    if pd.isna(size):
        return np.nan  
    
    size = str(size)
    
    # Handling special cases
    if 'Nov' in size or 'Oct' in size:
        return 'Small'  
    if '+' in size:
        lower = int(size.replace('+', ''))
        delta = lower + 1 
    else:
        try:
            lower, upper = map(int, size.split('-'))
            delta = upper - lower
        except ValueError:
            return np.nan  
    
    if delta <= 200:
        return 'Small'
    elif delta <= 5000:
        return 'Medium'
    else:
        return 'Large'

df1['company size category'] = df1['Company Size'].apply(categorize_company_size)
df1['Small'] = df1['company size category'] == 'Small'
df1['Medium'] = df1['company size category'] == 'Medium'
df1['Large'] = df1['company size category'] == 'Large'


df1.to_csv('company_info_newcolumns.csv', index=False)

In [29]:
df1.head()

,Company Name,Rating,No_of_Reviews,No_of_Followers,Tags,Type,Year Founded,Company Size,HQ Location,Website,Company Type,company size category,Small,Medium,Large
0,Volga Infotech,4.0,(13 reviews),0,"IT Services & Consulting, BPO / Call Centre, P...",Private,2008 (16 yrs old),Nov-50,NaN,http://www.volgainfotech.com,Corporate,Small,True,False,False
1,VMR Vision,NaN,NaN,0,"IT Services & Consulting, Private, Corporate, B2B",Private,2010 (14 yrs old),02-Oct,NaN,http://www.vmrvision.com/,Corporate,Small,True,False,False
2,Vasan Eye Care,4.0,(256 reviews),384 followers,"Medical Services / Hospital, Private, Corporat...",Private,2002 (22 yrs old),5001-10000,NaN,NaN,Corporate,Medium,False,True,False
3,Hungama,NaN,NaN,1.5K followers,"Film / Music / Entertainment, Media & Entertai...",NaN,1999 (25 yrs old),501-1000,NaN,NaN,Corporate,Medium,False,True,False
4,Mirza International,3.9,(242 reviews),0,"Textile & Apparel, Retail, Public, Corporate, B2C",Public,1979 (45 yrs old),5001-10000,NaN,http://www.mirza.co.in,Corporate,Medium,False,True,False