In [1]:
import pandas as pd
import math
import re

In [2]:
df = pd.read_csv('naukri_cleaned.csv')

In [3]:
df.head()

,Unnamed: 0,Keyword,Job Title,URL,Company Name,Work Mode,Experience Required,Salary,State,Location,...,Role Name,Industry Type,Department,Employment Type,Role Category,UG Requirements,PG Requirements,Skills Required,Company Type,Company Type Bucket
0,0,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Morepen Laboratories,Work From Office,0 - 2 years,2-5 Lacs P.A.,Maharashtra,Mumbai,...,Data Analyst,Pharmaceutical & Life Sciences,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,B.Tech/B.E. in Chemical,MBA/PGDM in Any Specialization,"Data Transformation, Data Analytics, Data Anal...",Corporate,Medium
1,1,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Fedelty Healthcare Pvt Ltd,Work From Office,0 - 2 years,1-2.25 Lacs P.A.,Maharashtra,Mumbai,...,Data Science & Analytics - Other,Pharmaceutical & Life Sciences,Data Science & Analytics,"Full Time, Permanent",Data Science & Analytics - Other,Any Graduate,NaN,"Data Mining, Data Analytics, Analytical Skills...",NaN,NaN
2,2,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Client of Mount Talent Firm,Work From Office,5 - 10 years,10-20 Lacs P.A.,Delhi,Delhi / NCR,...,Other,IT Services & Consulting,Other,"Full Time, Permanent",Other,Any Graduate,NaN,"Data Management and Analytics, ETL, SSIS Packa...",NaN,NaN
3,3,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Mediplus,Work From Office,3 - 5 years,3.5-6 Lacs P.A.,Delhi,Delhi / NCR,...,Data Analyst,Medical Devices & Equipment,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,Any Graduate,NaN,"Data Analysis, Data Management, Data Analytics",NaN,NaN
4,4,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Tecso Charge Zone,Work From Office,2 - 4 years,3-5.5 Lacs P.A.,Gujarat,Vadodara,...,Data Science & Analytics - Other,Analytics / KPO / Research,Data Science & Analytics,"Full Time, Permanent",Data Science & Analytics - Other,"B.Sc in Any Specialization, B.Tech/B.E. in Inf...","MBA/PGDM in Information Technology, MS/M.Sc(Sc...","Power Bi, Advanced Excel, Business Analytics, ...",NaN,NaN

In [4]:
df.dtypes

Unnamed: 0               int64
Keyword                 object
Job Title               object
URL                     object
Company Name            object
Work Mode               object
Experience Required     object
Salary                  object
State                   object
Location                object
Post Rating            float64
No. of Reviews          object
Post Age                object
Job Openings           float64
No. of Applicants       object
Role Name               object
Industry Type           object
Department              object
Employment Type         object
Role Category           object
UG Requirements         object
PG Requirements         object
Skills Required         object
Company Type            object
Company Type Bucket     object
dtype: object

In [5]:
df['Salary'].value_counts()

Salary
Not Disclosed                              63264
Unpaid                                       533
3-5 Lacs P.A.                                271
2-3 Lacs P.A.                                197
3-6 Lacs P.A.                                184
                                           ...
4-7 Lacs P.A. (Including Variable: 10%)        1
20,000-25,000 P.A.                             1
2 Lacs P.A.                                    1
4.2-5.76 Lacs P.A.                             1
7.5-16 Lacs P.A.                               1
Name: count, Length: 676, dtype: int64

In [6]:
# def format_salary(salary):
#     return "{:,.0f}".format(salary)

In [7]:
# def convert_salary_to_number(salary_str):
#     salary_str = salary_str.replace('Lacs P.A.', '').replace('Lacs', '').replace('P.A.', '').strip()
#     return float(salary_str) * 100000

In [8]:
# def process_salary(salary):
#     if 'Not Disclosed' in salary or 'Unpaid' in salary:
#         return None, salary
#     elif '-' in salary:
#         # Handle salary ranges
#         lower, upper = salary.split('-')
#         lower = convert_salary_to_number(lower)
#         upper = convert_salary_to_number(upper)
#         return format_salary(math.floor(lower)), format_salary(math.ceil(upper))
#     else:
#         # Handle fixed salaries
#         fixed = convert_salary_to_number(salary)
#         return None, format_salary(fixed)

In [9]:
# df['Lower Salary'] = None
# df['Salary Cap'] = None

In [10]:
# for index, row in df.iterrows():
#     try:
#         lower, upper = process_salary(row['Salary'])
#         df.at[index, 'Lower Salary'] = lower
#         df.at[index, 'Salary Cap'] = upper
#     except ValueError:
#         df.at[index, 'Lower Salary'] = None
#         df.at[index, 'Salary Cap'] = row['Salary']

In [11]:
# df.head()

In [12]:
# df['Salary Cap'].value_counts()

In [13]:
def format_salary(salary):
    return "{:,.0f}".format(salary)

In [14]:
import re
import math

def format_salary(salary):
    return "{:,.0f}".format(salary)

def convert_salary_to_number(salary_str, multiply=False):
    salary_str = re.sub(r'[^\d.]+', '', salary_str)
    value = float(salary_str)
    return value * 100000 if multiply else value

def process_salary(salary):
    original_salary = salary
    salary = salary.replace('Lacs P.A.', '').replace('Lacs', '').replace('P.A.', '').strip()
    
    if 'Not Disclosed' in salary or 'Unpaid' in salary:
        return None, salary
    elif '-' in salary:
        # Handle salary ranges
        lower, upper = salary.split('-')
        multiply = 'Lacs' in original_salary or 'Cr' in original_salary
        lower = convert_salary_to_number(lower, multiply)
        upper = convert_salary_to_number(upper, multiply)
        return format_salary(math.floor(lower)), format_salary(math.ceil(upper))
    elif '/month' in salary.lower():
        # Handle per month salaries
        multiply = 'Lacs' in original_salary or 'Cr' in original_salary
        fixed = convert_salary_to_number(salary, multiply)
        return None, format_salary(fixed)
    else:
        # Handle fixed salaries
        multiply = 'Lacs' in original_salary or 'Cr' in original_salary
        fixed = convert_salary_to_number(salary, multiply)
        return None, format_salary(fixed)

# Create new columns
df['Lower Salary'] = None
df['Salary Cap'] = None

# Populate the new columns
for index, row in df.iterrows():
    try:
        lower, upper = process_salary(row['Salary'])
        df.at[index, 'Lower Salary'] = lower
        df.at[index, 'Salary Cap'] = upper
    except ValueError:
        df.at[index, 'Lower Salary'] = None
        df.at[index, 'Salary Cap'] = row['Salary']

In [15]:
df.head()

,Unnamed: 0,Keyword,Job Title,URL,Company Name,Work Mode,Experience Required,Salary,State,Location,...,Department,Employment Type,Role Category,UG Requirements,PG Requirements,Skills Required,Company Type,Company Type Bucket,Lower Salary,Salary Cap
0,0,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Morepen Laboratories,Work From Office,0 - 2 years,2-5 Lacs P.A.,Maharashtra,Mumbai,...,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,B.Tech/B.E. in Chemical,MBA/PGDM in Any Specialization,"Data Transformation, Data Analytics, Data Anal...",Corporate,Medium,"200,000","500,000"
1,1,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Fedelty Healthcare Pvt Ltd,Work From Office,0 - 2 years,1-2.25 Lacs P.A.,Maharashtra,Mumbai,...,Data Science & Analytics,"Full Time, Permanent",Data Science & Analytics - Other,Any Graduate,NaN,"Data Mining, Data Analytics, Analytical Skills...",NaN,NaN,"100,000","225,000"
2,2,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Client of Mount Talent Firm,Work From Office,5 - 10 years,10-20 Lacs P.A.,Delhi,Delhi / NCR,...,Other,"Full Time, Permanent",Other,Any Graduate,NaN,"Data Management and Analytics, ETL, SSIS Packa...",NaN,NaN,"1,000,000","2,000,000"
3,3,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Mediplus,Work From Office,3 - 5 years,3.5-6 Lacs P.A.,Delhi,Delhi / NCR,...,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,Any Graduate,NaN,"Data Analysis, Data Management, Data Analytics",NaN,NaN,"350,000","600,000"
4,4,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Tecso Charge Zone,Work From Office,2 - 4 years,3-5.5 Lacs P.A.,Gujarat,Vadodara,...,Data Science & Analytics,"Full Time, Permanent",Data Science & Analytics - Other,"B.Sc in Any Specialization, B.Tech/B.E. in Inf...","MBA/PGDM in Information Technology, MS/M.Sc(Sc...","Power Bi, Advanced Excel, Business Analytics, ...",NaN,NaN,"300,000","550,000"

In [16]:
df['Lower Salary'].value_counts()

Lower Salary
300,000      1324
200,000      1164
250,000       935
100,000       752
150,000       552
             ...
144,000         1
10,000          1
8,500,000       1
35,000          1
55,000          1
Name: count, Length: 76, dtype: int64

In [17]:
df['Salary Cap'].value_counts()

Salary Cap
Not Disclosed    63264
300,000            913
400,000            886
500,000            858
600,000            686
                 ...
103,000,000          1
153,000,000          1
99,999               1
52,000,000           1
100                  1
Name: count, Length: 162, dtype: int64

In [18]:
df.to_csv("new_cleaned_naukri.csv", index=False)