### Importing the prerequisites

In [71]:
import os
import re

from collections import Counter
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
os.chdir('C:\\Users\\Gagan K\\Downloads\\MiniProject\\naukri datasets')

In [9]:
os.getcwd()

'C:\\Users\\Gagan K\\Downloads\\MiniProject\\naukri datasets'

In [7]:
data = pd.DataFrame(columns=[
       'Keyword', 'Job Title', 'URL', 'Company Name', 'Work Mode',
       'Experience Required', 'Salary', 'Location', 'Post Rating',
       'No. of Reviews', 'Post Age', 'Job Openings', 'No. of Applicants',
       'Role Name', 'Industry Type', 'Department', 'Employment Type',
       'Role Category', 'UG Requirements', 'PG Requirements',
       'Skills Required'
        ])

### Compiling data

In [10]:
frames = []
for _, _, file_names in os.walk(os.getcwd()):
    for file_name in file_names:
        temp = pd.read_csv(file_name, encoding = 'latin')
        temp.insert(0, 'Keyword', file_name.split('.')[0])
        frames.append(temp)

In [11]:
data = pd.concat(frames)

In [12]:
data.head()

,Keyword,Job Title,URL,Company Name,Work Mode,Experience Required,Salary,Location,Post Rating,No. of Reviews,...,Job Openings,No. of Applicants,Role Name,Industry Type,Department,Employment Type,Role Category,UG Requirements,PG Requirements,Skills Required
0,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Morepen Laboratories,Work From Office,0 - 2 years,2-5 Lacs P.A.,Mumbai (All Areas),4.0,335 Reviews,...,1.0,8355,Data Analyst,Pharmaceutical & Life Sciences,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,B.Tech/B.E. in Chemical,MBA/PGDM in Any Specialization,"Data Transformation, Data Analytics, Data Anal..."
1,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Fedelty Healthcare Pvt Ltd,Work From Office,0 - 2 years,1-2.25 Lacs P.A.,Mumbai( Fort ),NaN,NaN,...,5.0,4582,Data Science & Analytics - Other,Pharmaceutical & Life Sciences,Data Science & Analytics,"Full Time, Permanent",Data Science & Analytics - Other,Any Graduate,NaN,"Data Mining, Data Analytics, Analytical Skills..."
2,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Client of Mount Talent Firm,Work From Office,5 - 10 years,10-20 Lacs P.A.,Delhi / NCR,NaN,NaN,...,1.0,203,Other,IT Services & Consulting,Other,"Full Time, Permanent",Other,Any Graduate,NaN,"Data Management and Analytics, ETL, SSIS Packa..."
3,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Mediplus,Work From Office,3 - 5 years,3.5-6 Lacs P.A.,Delhi / NCR,4.1,54 Reviews,...,1.0,57,Data Analyst,Medical Devices & Equipment,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,Any Graduate,NaN,"Data Analysis, Data Management, Data Analytics"
4,data analyst,Data Analyst,https://www.naukri.com/job-listings-data-analy...,Tecso Charge Zone,Work From Office,2 - 4 years,3-5.5 Lacs P.A.,Vadodara,4.6,2 Reviews,...,1.0,134,Data Science & Analytics - Other,Analytics / KPO / Research,Data Science & Analytics,"Full Time, Permanent",Data Science & Analytics - Other,"B.Sc in Any Specialization, B.Tech/B.E. in Inf...","MBA/PGDM in Information Technology, MS/M.Sc(Sc...","Power Bi, Advanced Excel, Business Analytics, ..."

### Data Structure Info

In [30]:
print(f'''The compiled dataset has {data.shape[0]} rows and {data.shape[1]} columns.
{data.nunique()['URL']} unique rows found. ({data.shape[0] - data.nunique()['URL']} duplicate rows)''')

The compiled dataset has 93658 rows and 21 columns.
75607 unique rows found. (18051 duplicate rows)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93658 entries, 0 to 10450
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Keyword              93658 non-null  object
 1   Job Title            93658 non-null  object
 2   URL                  93658 non-null  object
 3   Company Name         93655 non-null  object
 4   Work Mode            93658 non-null  object
 5   Experience Required  93658 non-null  object
 6   Salary               93658 non-null  object
 7   Location             93653 non-null  object
 8   Post Rating          63430 non-null  float64
 9   No. of Reviews       63430 non-null  object
 10  Post Age             93658 non-null  object
 11  Job Openings         84313 non-null  float64
 12  No. of Applicants    93658 non-null  object
 13  Role Name            93658 non-null  object
 14  Industry Type        93658 non-null  object
 15  Department           93658 non-null  object
 16  Employment Type      93658 non-null  object
 17  Role Category        93658 non-null  object
 18  UG Requirements      93658 non-null  object
 19  PG Requirements      74192 non-null  object
 20  Skills Required      93658 non-null  object
dtypes: float64(2), object(19)
memory usage: 15.7+ MB

In [20]:
data.nunique()

Keyword                    8
Job Title              39807
URL                    75607
Company Name           21824
Work Mode                  3
Experience Required      247
Salary                   676
Location                5038
Post Rating               41
No. of Reviews          1562
Post Age                  33
Job Openings             164
No. of Applicants       6248
Role Name                965
Industry Type            123
Department                37
Employment Type            6
Role Category            156
UG Requirements         1947
PG Requirements         1062
Skills Required        65266
dtype: int64

### Data Cleaning

In [77]:
data.to_csv('naukri_compiled_dataset.csv', encoding = 'utf-8')